@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500&display=swap');
.container {
    justify-content: center;
    text-align: center;
    align-content: center;
    background-size: 100%;
    background-color: #F8FBFF;
    margin: 120px 160px;
    padding-bottom: 120px;
}

.container-title {
    /* font-family: 'Poppins', sans-serif; */
    font-family: 'Google Sans', Roboto, Arial, sans-serif;
    color: #3c4043;
    font-size: 38px;
    font-weight: 600;
    padding-top: 60px;
    line-height: 1;
}

.cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
    flex-direction: row;
}

.card {
    width: 200px;
    height: 200px;
    background-color: #FFFFFF;
    border-radius: 0px 0px 10px 10px;
    margin-top: 20px;
    margin-left: 7px;
    border: 2px solid #dddcdc;
    border-top: 4px solid #1A73E8;
}

.plans-btn {
    background-color: #F8FBFF;
    font-size: 14px;
    font-family: 'Google Sans', Roboto, Arial, sans-serif;
    color: #1A73E8;
    text-decoration: none;
    border: 1px solid #5A77E8;
    padding: 10px 20px;
    margin: 10px;
    border-radius: 5px;
}

.plans-btn:hover {
    background-color: #dae0f5;
    color: #5A77E8;
    transition: .7s;
}

.container-paragraph {
    font-family: 'poppins', sans-serif;
    text-align: center;
    line-height: 2;
    font-size: 16px;
    font-weight: 400;
}

.card-title {
    font-family: 'poppins', sans-serif;
    text-align: left;
    font-size: 16px;
    font-weight: 400;
    padding: 5px 5px 0px 5px;
    margin: 10px 10px 1px 10px;
}

.card-desc {
    font-family: Roboto, Arial, sans-serif;
    text-align: left;
    font-size: 14px;
    width: 180px;
    font-weight: 400;
    padding: 0px 5px 5px 5px;
    margin: 3px 10px 1px 10px;
    letter-spacing: .2px;
    line-height: 20px;
    color: #5f6368;
}

b {
    color: #3c4043;
    font-family: 'Google Sans', Roboto, Arial, sans-serif;
    font-size: 18px;
    line-height: 24px;
}

.card-price {
    font-family: 'Google Sans Display', Roboto, Arial, sans-serif;
    font-weight: 500;
    line-height: 32px;
    color: #3c4043;
    font-size: 30px;
    text-align: left;
    padding-left: 15px;
    padding-bottom: 0px;
    margin-bottom: 5px;
    margin-top: 5px;
}

.card-price1 {
    text-align: left;
}

span {
    font-family: 'Google Sans Display', Roboto, Arial, sans-serif;
    line-height: 32px;
    font-size: 14px;
    color: #3c4043;
    text-align: left;
}

#storage {
    font-family: 'Google Sans Display', Roboto, Arial, sans-serif;
    line-height: 32px;
    color: #3c4043;
    font-size: 22px;
    text-align: left;
    font-style: bold;
}

#GB {
    font-family: 'Google Sans Display', Roboto, Arial, sans-serif;
    line-height: 32px;
    color: #3c4043;
    font-size: 14px;
    text-align: left;
}

.crad-link {
    text-decoration: none;
    color: #1A73E8;
    margin-left: 10px;
    margin-top: 30px;
    padding-left: 5px;
    font-family: 'Google Sans Display', Roboto, Arial, sans-serif;
    font-size: 12px;
}
